# .gitconfig file in your home folder
[diff "pandoc"]
  textconv=pandoc --to=markdown
  prompt = false
[alias]
  wdiff = diff --word-diff=color --unified=1

[diff "word"]
	command = D:/!!DOCUMENTS2015/!!AKREDITASI/ExtDiff-master/diff-word-wrapper.cmd
